*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    min-height: 100vh;
    background-color: #fbe4d8;
    background-image: linear-gradient(#fbe4d8, #dfb6b2)
}

h3, h5, p, th, tr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th{
    width: 200px;
    height: 50px;
    background-color: #854f6c;
}

td{
    width: 180px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
button{
    border: none;
    height: 35px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 5px;
}
button:hover{
    background-color: #854f6c;
    transition: 0.5s;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    box-shadow: 1px 1px 7px 0.5px;
    background-color:#854f6c; 
    padding: 50px;
}

.forms{
    display: flex;
    margin: 30px;
    flex-direction: column;
    white-space: nowrap;
}
.cabecalhoCadastro{
    border-radius: 10px 10px 0px 0px;
    background-color: #854f6c;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    width: 100%;
    height: 30px;
    align-items: center;
}
.cabecalhoCasdatroTitulo{
    margin-left: 7%;  
    margin-right: 40%;
}
.formsInputs, .modal-form{
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: #fbe4d8;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    border-radius: 0px 0px 0px 10px;
}

.modal-form{
    border-right: 5px solid #854f6c;
}

.modal-field{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #ffffff;
    height: 35px;
    border: none;
    width: 200px
}

.formsCadastro{
    display: flex;
    flex-direction: row;
}

.formsResultado{
    background-color: #fbe4d8;
    height: 600px;
    width: 100%;
    border-radius: 0px 0px 10px 0px;
}

.animaisCadastro{
    display: none;
}

@media screen and (min-width: 500px) and (max-width: 960px){
    
    .cabecalhoimg1{
        display: none;
}
    .cabecalhoImg3{
        display: none;
}

    .cabecalhoCasdatroTitulo{
        display: flex;
        justify-content: center;
}
    .cabecalhoCadastroAnimais{
        display: none;
}

    .modal-form{
        display: flex;
        justify-content: center;
        border-right: none;
        border-radius: 10px;
}
    .formsCadastro{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;  
    }
    .formsCadastroInfos{
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        border: none;
    }
    .formsResultado{
        margin-top: 5%;
        border-radius: 10px;
    }
    .animaisCadastro{
        border-radius: 10px 10px 0px 0px;
        display: flex;
        justify-content: center;
        height: 30px;
        align-items: center;
        width: 100%;
        background-color: #854f6c;
        margin-bottom: 5px;
        display: block;
    }
    .forms{
        white-space: normal;
    }
    
}